[[source]]
url = "http://devpi.reloadclub.gg:3141/root/reload"
verify_ssl = false
name = "reload-devpi"

[packages]
fastapi = "*"
uvicorn = "*"
redis = "*"
pydantic-settings = "*"
python-jose = {extras = ["cryptography"], version = "*"}
reload-redis = "*"
passlib = {extras = ["bcrypt"], version = "*"}
starlette = "*"
requests = "*"

[dev-packages]
devpi = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn app.main:application --host 0.0.0.0 --port $APP_PORT --reload"
lint = "flake8"
format = "bash -c 'black -S app && isort --overwrite-in-place app'"
test = "pytest -s"
coverage = "pytest --cov=app --cov-report term --cov-report html"
ensure_coverage = "pytest --cov=app --cov-fail-under=85"
